nav, footer {
  font-size: 1.5rem;
}
.pointer {
  cursor: pointer;
}
.dark-green {
  background-color: #2F575D;
  color: #CACFCF;
}
.light-green {
  background-color: #6D9197;
  color: #CACFCF;
}
.menu-circle {
  height: 50px;
  width: 50px;
  background-color: #6D9197;
  border-radius: 50%;
}
