nav {
  font-size: 1.25rem;
}

.dark-green {
  background-color: #2F575D;
  color: #CACFCF;
}
.light-green {
  background-color: #6D9197;
  color: #C4CDC1;
}

.gray {
  background-color: #E0E0E0;
  color: #4F4F4F;
}
